html {
    background-color: #f0f0ef;
    height: 100%;
}

body {
    height: 98%;
    padding: 2% 0 2% 0;
    margin: 0;
    font: 150% 'Open Sans', sans-serif;
    line-height: 40px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cormorant Garamond', serif;
}

#username-id {
    height: 30px;
    margin-bottom: 10px;
    padding-left: 5px;
}

#submit {
    height: 40px;
    text-align: right;
    padding-top: 0;
}

body > div:nth-child(1) > div {
    color: black;
    height: 40px;
    padding-top: 1px;
    background-color: #CCCCCC;
    border: none;
    opacity: .3;
}

#landing-pg {
    font: 125% 'Cormorant Garamond', serif;
    height: 100%;
    padding-right: 20px;
    border-bottom: 0.25px solid #ccc;
}

#contact {
    height: 100%;
    margin-top: 15%;
}

#homepage {
    border: 0.25px solid #ccc;
    width: 80%;
    box-shadow: 10px 10px 15px 6px #ccc;
    border-radius: 3px;
    background: url("./images/handmadepaper.png");
    margin-top: 15px;
}

#name {
    font: 200% 'Cormorant Garamond', serif;
    height: 70px;
    padding: 25px 15px 15px 50px;
}

#landing-name {
    font: 200% 'Cormorant Garamond', serif;
    height: 70px;
    padding: 25px 15px 15px 15px;
}

#contact-info {
    height: 75px;
    padding: 15px 15px 15px 15px;
    word-spacing: 5px;
}

.row {
    padding: 5px 20px 20px 20px;
}

#header-row {
    border-top: 0.25px solid #ccc;
    padding: 5px 20px;
}

#projects-row {
    padding: 50px 20px 10px 20px;
}

#text-row {
    padding: 0 20px 20px 20px;
    font-size: 85%;
}

#photo-row {
    padding: 50px 25px 50px 100px;
    border-bottom: 0.25px solid #ccc;
}

#projects-row img { 
    filter: grayscale(90%); 
}

/*WORKING WITH MODAL*/
.myImg {
    border-radius: 5px;
    cursor: pointer;
    padding-left: 100px;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 900px;
}


@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}