html {
    background-color: #f0f0ef
    height: 100%;
}

body {
    height: 98%;
    padding: 2% 0 2% 0;
    margin: 0px;
    font: 200% 'Open Sans', sans-serif;
    line-height: 40px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cormorant Garamond', serif;
}

#landing-pg {
    font: 200% 'Cormorant Garamond', serif;
    height: 100%;
    padding-right: 20px;
    border-bottom: 0.25px solid #ccc;
}

#contact {
    height: 100%;
    margin-top: 15%;
}

#homepage {
    border: 0.25px solid #ccc;
    width: 75%;
    box-shadow: 10px 10px 15px 6px #ccc;
    border-radius: 3px;
    background: url("./images/handmadepaper.png");
    margin-top: 15px;
}

#name {
    font: 200% 'Cormorant Garamond', serif;
    height: 70px;
    padding: 25px 15px 15px 15px;
}

#landing-name {
    font: 200% 'Cormorant Garamond', serif;
    height: 70px;
    padding: 25px 15px 15px 15px;
}

#contact-info {
    height: 75px;
    padding: 15px 15px 15px 15px;
    word-spacing: 5px;
}

.row {
    padding: 5px 20px 20px 20px;
}

#header-row {
    border-top: 0.25px solid #ccc;
    padding: 5px 20px;
}

#projects-row {
    padding: 50px 20px 10px 20px;
}

#text-row {
    padding: 0px 20px 20px 20px;
    font-size: 200%;
}

#photo-row {
    padding: 50px 25px 50px 25px;
    border-bottom: 0.25px solid #ccc;
}

#projects-row img { 
    filter: grayscale(90%); 
}