{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">

    <div class="row" id="landing-pg">
        <div class="col-xs-12 col-md-6 col-lg-6" align="left">
            Kathryn Rowe
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6" align="right">
            <a href="/">Home</a> • <a href="resume">Resume</a> • About • <a href="contact">Contact</a><!--  • <a href="/logout">Log-out</a> -->
        </div>
    </div>

    <div class="row" id="name">
        About Me
    </div>

    <div class="row" id="photo-row">
        <div class="col-xs-12 col-md-8 col-lg-8">I'm a biologist turned Software Engineer with a tendency towards environmental activism.<br><br>

        Prior to becoming a software engineer, I could be found tromping around the woods looking for birds and salmon. I've hooted for Northern Spotted Owls in the Shasta-Trinity National Forest, put bands on songbirds in Massachusetts, and snorkeled for salmon down the Mattole River.<br><br>

        I began coding during my Master's in GIS and now I don't want to stop. I love to create good things for good causes.

        </div>

        <div class="col-xs-12 col-md-4 col-lg-4">
            <img class="myImg" border="0" src="./static/images/colorado.jpg" alt="data-page" width="100%">
        </div>
    </div>

    <div class="row" id="photo-row" align="center">
        <!-- Pinterest -->
        <div class="col-xs-12 col-md-12 col-lg-12">
            <a href="https://www.pinterest.com/kathryn1773/" title="Maps and Fonts" align="center">
                <img border="0" width=5% src="./static/images/pinterest.png" alt="Pinterest" width="100%">
            </a>

        <!-- Twitter -->
            <a href="https://twitter.com/katesparrows" title="Mostly Markov Chains" align="center">
                <img border="0" width=5% src="./static/images/twitter.png" alt="Twitter" width="100%">
            </a>
        </div>
    </div>

</div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="./static/modal.js"></script>
{% endblock %}