{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">

    <div class="row" id="landing-pg">
        <div class="col-xs-12 col-md-6 col-lg-6" align="left">
            Kathryn Rowe
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6" align="right">
            <a href="/">Home</a> • <a href="resume">Resume</a> • About • <a href="contact">Contact</a><!--  • <a href="/logout">Log-out</a> -->
        </div>
    </div>

    <div class="row" id="name">
        About Me
    </div>

    <div class="row" id="photo-row">
        <div class="col-xs-12 col-md-12 col-lg-12">Prior to Hackbright, Kate could be found tromping around the woods looking for birds and salmon. Trained as a wildlife biologist, Kate has been working for environmental organizations for the past 10 years. She loves problem solving and found this skill very useful when working for small nonprofits. Her introduction to programming came during her Master's in GIS program when she used Python to solve complex spatial analysis problems. Kate hopes to combine her love of maps and problem solving to software development. Her next step includes further honing her fluency with coding, building her skill base, and pursuing a career as a software developer.
        </div>

    </div>

</div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="./static/modal.js"></script>
{% endblock %}