{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">

    <div class="row" id="landing-pg">
        <div class="col-xs-12 col-md-6 col-lg-6" align="left">
            Kathryn Rowe
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6" align="right">
            <a href="/">Home</a> • <a href="/aboutme">About</a> • <a href="/coding">Blog</a> • <a href="/resume">Resume</a> • <a href="/contact">Contact</a>
        </div>
    </div>

    <div class="row" id="name">
        How to deploy a Python-Flask application to AWS<br>
    </div>

    <div class="row" id="photo-row">
        <i>Update Sept. 23, 2018 www.tellmeaboutthebirds.com is no longer in production.</i><br><br>
        <i>Tags: Python, Flask, PostgreSQL, Ubuntu, Apache, EC2, RDS</i><br><br>
        <i>TOC: <a href="#background">Background</a>, 
                <a href="#get_started">Getting Started</a>, 
                <a href="#aws_account">Setting Up an AWS Account</a>, 
                <a href="#ec2_instance">Setting-up an EC2 Instance</a>, 
                <a href="#rds_instance">Setting-up a RDS Instance</a>, 
                <a href="#debug">Debugging Tips</a>, 
                <a href="#elastic_ip">Elastic IP and Domain Name</a>, 
                <a href="#https">HTTPS</a></i>

        <h3 id="background">Background</h3>

        <p>During Hackbright Academy’s rigorous software engineering fellowship, I learned about full-stack web application development (Python-focused) in six weeks and then built a web app, <b>Tell Me About the Birds</b>, in just 4 weeks.<br><br>

        Similar to the development of my project, the process of deploying to Amazon Web Services was new, confusing, and quick. I learned a lot about web servers, porting, many confusing AWS acronyms and, with the help of AWS support, I tackled the concept of “deploying to AWS”.<br><br>

        If you want to learn about deploying a Python-Flask-PostgreSQL app via Heroku, visit my friend Joanne's <a href="https://jttyeung.github.io/2017/06/30/deploying-to-heroku-and-the-database-migration-nightmare.html?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3B3AwUswvRSz6ZD1ZCDJnsmA%3D%3D">documentation</a>.<br><br>

        I’m fortunate to live in the Bay Area where I can easily find many tech-related opportunities and resources. When I was overwhelmed by the amount of services AWS provides, I decided to visit the AWS SF Pop-up Loft. SO thankful I did. The crew patiently answered my questions and provided excellent advice.<br><br>

        There are so many different options to deploying “stuff” on AWS, and I definitely cannot explain all the options (Figure 1).</p>
        
        <img class="myImg" border="0" src="./static/images/aws_products.jpg" alt="amazon_products" width="40%"><br>
        <p class="caption">Figure 1.</p><br><br>

        <p>I chose EC2 and RDS because 1. I had a database (RDS), 2. I wanted to learn about AWS, not just deploy something quickly (eliminates Elastic Beanstalk), and 3. I wanted to be able to scale the project up. <b>Tell Me About the Birds</b> only contained one year of data due the space limitations of my personal computer. Now that I have access to a database in the cloud, I’d like to expand my project.<br><br>

        <h3 id="get_started">Getting Started</h3>

        My project is a Python – Flask app that queries data in a PostgreSQL database using SQLAlchemy. You can check it out on <a href="https://github.com/kathryn-rowe/Tell-Me-About-the-Birds">GitHub</a>, but here is the directory line-up:<br></p>

        <div class="code">
        server.py<br>
        model.py<br>
        requirements.txt<br>
        secret_key.py<br>
        templates/<br>
        ------base.html<br>
        ------homepage.html<br>
        ------map.html<br>
        static/<br>
        ------bird-picture.js<br>
        ------D3_line_chart.js<br>
        ------get_species.js<br>
        ------map-spec.js<br>
        ------map.js<br>
        ------reload_county.js<br>
        ------styles.css<br>
        ------images/<br>
        ----------arrow_submit-01.png<br>
        ----------bird_outline.png<br>
        ----------sparrow.jpg<br>
        </div><br>

        <p><h3 id="aws_account">Setting Up an AWS Account</h3>

        First, you’ll need to set-up EC2 and RDS instances. From my understanding, they are instances because they’re not really anything, yet. For lack of a better word, they’re a base for where you can install what you need. For EC2, I chose Ubuntu with Apache and a PostgreSQL database on RDS.<br><br>

        <h3 id="ec2_instance">Setting-up an EC2 Instance</h3>

        Check out this <a href="http://amunategui.github.io/idea-to-pitch/">blog</a> on how to set-up an EC2. It’s fantastic and has a YouTube video. I installed Ubuntu 16.04 and chose the “free tier” options.<br><br>

        I’ll pick up again once you hit the <i>Installing Apache & Flask on EC2.</i><br><br>

        <h3 id="rds_instance">Setting-up a RDS Instance</h3>

        <a href="https://aws.amazon.com/getting-started/tutorials/create-connect-postgresql-db/">Amazon</a> has great documentation about setting-up databases. The people at the pop-up loft also helped a lot. I’d follow along with their instructions (fyi I chose all “free tier” options) until your reach this page (Figure 2):</p><br><br>

        <img class="myImg" border="0" src="./static/images/rds_db_instance.jpg" alt="rds_db_instance" width="40%"><br>
        <p class="caption">Figure 2.</p><br><br>
        
        <p>Once I had this set-up, I was unclear how to get the database on my computer up into this instance. Thanks to <a href="https://www.linkedin.com/in/lpnotes/">Linda Peng</a> and AWS pop-up lab help desk for clarifying that I needed to do a pgdump.<br><br>

        From your console, navigate to where you store you database and enter the following, substituting ebird_CA_data for the name of your database.</p>

        <div class="code">
        $ <b>pg_dump ebird_CA_data > ebird_CA_data.sql</b>
        </div>

        <p>After that, you’ll want to “put it on the online.” Pull up your DB instance information like in Figure 2. Note the endpoint, port number, username, and DB name.<br><br>

        Manipulate this command:</p>

        <div class="code">
        $ <b>psql -f [name of sql file you created in the dump] --host [endpoint] --port [the port number] --username [Username] --password [your db password] --dbname [DB Name]</b>
        </div>

        <p>So it looks like this with your information:</p>

        <div class="note">
        &#10043; Before you hit enter, think about the size of your database. My sql file was about 356 megabytes and it took most of the night to upload.</p>
        </div>

        <div class="code">
        $ <b>psql -f ebird_CA_data.sql --host the-birds.cbec8qxdlxnj.us-west-1.rds.amazonaws.com --port 5432 --username kate_admin --password INSERT PASSWORD --dbname the_birds</b>
        </div>

        <p>After running for most of the night, the command line stated SELECT TABLE a few time and that was it. No ‘success’ or ‘congrats on your first upload!’ like I thought it should. But there wasn’t an error message, so it must have worked, correct? Hard to say. I’m sure the AWS console gives you some hint that there is data in there, but I couldn’t interpret it. I found two ways to see if there is data in there: open the database directly from the console and/or connect your local app to the remote database (also a great debugging tip for when you’re deploying your project).<br><br>

        Connect via the console<br>
        
        <div class="code">
        (env) vagrant@vagrant:~/src/project$ <b>psql --host=the-birds.cbec8qxdlxnj.us-west-1.rds.amazonaws.com --port=5432 --username=kate_admin --password --dbname=the_birds the-birds.cbec8qxdlxnj.us-west-1.rds.amazonaws.com</b>
        </div>

        <p>Connect via model.py<br><br>

        If you visit <a href="https://github.com/kathryn-rowe/Tell-Me-About-the-Birds/blob/master/model.py">my github page</a> again and navigate to model.py, I have a postgres db connection at the bottom (Figure 3):</p><br>

        <img class="myImg" border="0" src="./static/images/github_db_connection.jpg" alt="github_db_connection" width="40%"><br>
        <p class="caption">Figure 3.</p><br><br>

        <p>See how I commented out the connection from my local database, and then add the connection to the remote database (and no, the-password is not my password):</p>

        <div class="code">
        app.config['SQLALCHEMY_DATABASE_URI'] = 'postgresql:///ebird_data'<br>
        app.config['SQLALCHEMY_DATABASE_URI'] = "postgresql://kate_admin:the-password@the-birds.cbec8qxdlxnj.us-west-1.rds.amazonaws.com:5432/the_birds"
        </div>

        <p>From my console, I could then run my app locally like I always have and it should connect to the remote database, right? (&#10043; I run my app locally on a vagrant Ubuntu machine)</p><br>

        <img class="myImg" border="0" src="./static/images/locally_run_vagrant.jpg" alt="locally_run_vagrant" width="40%"><br><br>
        <p class="caption">Figure 4.</p><br><br>

        <p>Yessssss it works and queries my remote database (hard to tell with all those deprecated warnings).<br><br>
        Ok, so now I have a RDS instance with data and an EC2 instance without data. What now?<br><br>
        Apache.<br><br>
        This was a hard concept for me to grasp without talking with the great guys at AWS: you can’t just put python files on Ubuntu and expect them to run. You have to set-up a web server and configure everything correctly.<br><br>
        For the Ubuntu-Apache set-up, I relied heavily on the <a href="http://amunategui.github.io/idea-to-pitch/">blog</a> I mentioned earlier and <a href="https://www.digitalocean.com/community/tutorials/how-to-deploy-a-flask-application-on-an-ubuntu-vps">DigitalOcean’s docs</a>, which I found to be very helpful.<br><br>
        After logging into my Ubuntu instance via Putty (I have a Windows machine), here’s my mashup of what they did (Figure 5):</p><br>
        
        <img class="myImg" border="0" src="./static/images/ubuntu_basic.jpg" alt="Ubuntu_basic" width="40%"><br>
        <p class="caption">Figure 5.</p><br><br>

        <div class="code">
        ubuntu@ip-10-0-0-160:~$ <b>sudo apt-get update</b><br>
        ubuntu@ip-10-0-0-160:~$ <b>sudo apt-get install apache2</b><br>
        ubuntu@ip-10-0-0-160:~$ <b>sudo apt-get install libapache2-mod-wsgi python-dev</b><br>
        ubuntu@ip-10-0-0-160:~$ <b>sudo a2enmod wsgi</b><br>
        ubuntu@ip-10-0-0-160:~$ <b>cd /var/www </b><br>
        ubuntu@ip-10-0-0-160:/var/www$ <b>sudo mkdir FlaskApp</b><br>
        ubuntu@ip-10-0-0-160:/var/www$ <b>cd FlaskApp</b><br>
        ubuntu@ip-10-0-0-160:/var/www/FlaskApp$ <b>sudo mkdir TellMeAboutTheBirds</b><br>
        ubuntu@ip-10-0-0-160:/var/www/FlaskApp$ <b>cd TellMeAboutTheBirds</b><br>
        </div>

        <div class="note">
        &#10043; Next step is to git clone your project.
        </div>

        <div class="code">
        ubuntu@ip-10-0-0-160:/var/www/FlaskApp/TellMeAboutTheBirds$ <b>git clone *insert project repository*</b>
        </div>

        <div class="code">    
        ubuntu@ip-10-0-0-160:/var/www/FlaskApp/TellMeAboutTheBirds$ <b>sudo vim secret_key.py</b>
        </div>

        <p>Copy and paste your secret_key.py contents. Crtl-X to save and exit.</p>

        <div class="note">
        &#10043; You may notice I have a model.py in my original project outline, but it is not included here. After many hours of trial and error, I found that I could not get my project to work with my Models stored in a file outside my server file. THEREFORE, I brought all my db connection and models into my server.py file. On github, you can find <a href="https://github.com/kathryn-rowe/Tell-Me-About-the-Birds/blob/master/server_model.py">this combined server_model.py file</a>.
        </div>

        <div class="code">
        |----FlaskApp/<br>
        |---------TellMeAboutTheBirds/<br>
        |--------------server.py<br>
        |--------------secret_key.py<br>
        |--------------requirements.txt<br>
        |--------------static/<br>
        |--------------templates/<br>
        </div>

        <p>Now to install pip, start a virtual environment, and get all the requirements.</p>

        <div class="code">
        ubuntu@ip-10-0-0-160:/var/www/FlaskApp/TellMeAboutTheBirds$ <b>sudo apt-get install python-pip</b><br>
        ubuntu@ip-10-0-0-160:/var/www/FlaskApp/TellMeAboutTheBirds$ <b>sudo pip install virtualenv</b><br>
        ubuntu@ip-10-0-0-160:/var/www/FlaskApp/TellMeAboutTheBirds$ <b>sudo virtualenv venv</b><br>
        ubuntu@ip-10-0-0-160:/var/www/FlaskApp/TellMeAboutTheBirds$ <b>source venv/bin/activate</b><br>
        </div>

        <p>When I was working my my project locally, I used $pip freeze > requirements.txt to save a record of everything it took to get the project up and running. Here I’m installing those requirements in one swift move.</p>

        <div class="code">
        (env) ubuntu@ip-10-0-0-160:/var/www/FlaskApp/TellMeAboutTheBirds$ <b>sudo pip install –r requirements.txt</b><br>
        (env) ubuntu@ip-10-0-0-160:/var/www/FlaskApp/TellMeAboutTheBirds$ <b>deactivate</b>
        </div>

        <p>Editing the conf file:</p>
        
        <div class="code">
        ubuntu@ip-10-0-0-160:/var/www/FlaskApp/TellMeAboutTheBirds$ <b>sudo vim /etc/apache2/sites-available/TellMeAboutTheBirds.conf</b>
        </div>

        <div class="note" id="change_config">
        &#10043; if you do not have a domain name set-up through AWS, enter the IPv4 Public IP. Once you get a <a href="#elastic_ip">domain name set up</a>, change the public IPv4 to the domain name. This was not clearly explained and I almost lost my mind when I got an elastic ip and then a domain name through AWS’s Route53. The old IPv4 Public IP didn’t load and the new IP went to a generic Apache website. I thought I lost everything! I finally thought back on a previous Certbot workshop and remembered that I needed to change this config file to the correct domain name.
        </div>

        <p>Here is what my config file looked like:</p>

        <div class="code">
            <pre>
            &lt;VirtualHost *:80&gt;<br>
                    ServerName 52.25.54.241<br>
                    # ServerName tellmeaboutthebirds.com //once you have a domain name set-up, make this the server name!<br>
                    # ServerAlias www.tellmeaboutthebirds.com //once you have a domain name set-up, make this the server alias!<br>
                    ServerAdmin kjrowe06@gmail.com<br>
                    WSGIScriptAlias / /var/www/FlaskApps/FlaskApps.wsgi<br>
                    &lt;Directory /var/www/FlaskApps/ TellMeAboutTheBirds /&gt;<br>
                                Order allow,deny<br>
                                Allow from all<br>
                        &lt;/Directory&gt;<br>
                    &lt;Directory /var/www/FlaskApps/TellMeAboutTheBirds/static/&gt;<br>
                                Order allow,deny<br>
                                Allow from all<br>
                    &lt;/Directory&gt;<br>
                    ErrorLog ${APACHE_LOG_DIR}/error.log<br>
                    LogLevel warn<br>
                    CustomLog ${APACHE_LOG_DIR}/access.log combined<br>
            &lt;/VirtualHost&gt;<br>
            </pre>
        </div>

        <div class="code">
        ubuntu@ip-10-0-0-160:/var/www/FlaskApp/TellMeAboutTheBirds$ <b>sudo a2enmod wsgi</b><br>
        ubuntu@ip-10-0-0-160:/var/www/FlaskApp/TellMeAboutTheBirds$ <b>sudo apachectl restart</b><br>
        ubuntu@ip-10-0-0-160:/var/www/FlaskApp/TellMeAboutTheBirds$ <b>sudo a2ensite TellMeAboutTheBirds</b><br>
        </div>

        <p>I used these two commands to restart/reload after changes I made:</p>

        <div class="code">
        ubuntu@ip-10-0-0-160:/var/www/FlaskApp/TellMeAboutTheBirds$ <b>sudo service apache2 restart</b><br>
        ubuntu@ip-10-0-0-160:/var/www/FlaskApp/TellMeAboutTheBirds$ <b>sudo /etc/init.d/apache2 reload</b><br>
        </div>

        <p>Creating the wsgi file</p>

        <div class="note">
        &#10043; You refer to this file in the above config file, so make sure they’re typed the same way!
        </div>

        <div class="code">        
        ubuntu@ip-10-0-0-160:/var/www/FlaskApp/TellMeAboutTheBirds$ <b>sudo vim /var/www/FlaskApps/FlaskApps.wsgi</b>
        </div>

        <div class="code">
            <pre>
            #!/usr/bin/python<br>
            import sys<br>
            import logging<br>
            logging.basicConfig(stream=sys.stderr)<br>
            sys.path.insert(0,"/var/www/FlaskApp/TellMeAboutTheBirds/")<br>

            from server import app as application<br>
            application.secret_key = 'randomSecretkeeey'
            </pre>
        </div>

        <p>And again:</p>

        <div class="code">        
        ubuntu@ip-10-0-0-160:/var/www/FlaskApp/TellMeAboutTheBirds$ <b>sudo service apache2 restart</b><br>
        ubuntu@ip-10-0-0-160:/var/www/FlaskApp/TellMeAboutTheBirds$ <b>sudo /etc/init.d/apache2 reload</b>
        </div>

        <p>Ok, everything should be set-up now. Try typing the public IP in a browser and see what happens.</p><br>

        <h3 id="debug">Debugging Tips</h3>
        <p>If you get errors, nothing shows up, or it’s just a generic Apache website, try these debugging tips:</p><br>
        <ul>
            <li>Open the error log and see what it says:</li>

                <div class="code">
                ubuntu@ip-10-0-0-160:/var/www/FlaskApp/TellMeAboutTheBirds$ <b>sudo vim /var/log/apache2/error.log</b>
                </div>

            <li>In your browser, right click and select “Inspect.” Watch for errors as your run your process.</li>
            <li>Go back to the server.py file found here: /var/www/FlaskApp/TellMeAboutTheBirds/</li>
            <li>Clear everything and copy-paste this:<br>

                <div class="code">
                    <pre>
                    from flask import Flask<br>
                    app=Flask(__name__)<br><br>

                    @app.route('/')<br>
                    def home():<br>
                        return  "This is from Flask!!!"<br><br>

                    if __name__ == "__main__":<br>
                        app.run()
                    </pre>
                </div>

        Save, restart and reload. When you refresh your browser, do you see any changes? If you see “This is from Flask!!!”, it’s working. Slowly start adding material back into the server.py file.<br><br>  
            </li>
        </ul>

        <h3 id="elastic_ip">Elastic IP and Domain Name</h3>

        <p>I also went through the process of setting up an Elastic IP and then a domain name via AWS' Route 53.</p>

        <img class="myImg" border="0" src="./static/images/route_53.jpg" alt="aws route 53" width="40%"><br>
        <p class="caption">Figure 6. Route 53 Configuration</p><br><br>

        <p>Just remember to <a href="#change_config">change</a> the config file any time you change the IP address or domain name.</p>

        <h3 id="https">HTTPS</h3>

        <p>I recently attended a workshop hosted by <a href="https://www.eff.org/">EFF</a> and knew going into this project that I wanted to try to make my website secure. The <a href="https://certbot.eff.org/">Certbot</a> process is generally straight forward. I ran into a few firewall issues that I found difficult to solve, but luckily Brad at EFF was INCREDIBLY helpful!</p><br><br>

        <img class="myImg" border="0" src="./static/images/certbot_error.jpg" alt="certbot error" width="40%"><br>
        <p class="caption">Figure 7. Certbot Timeout Error</p><br><br>

        <p>Here are a few trouble-shooting steps I took:</p>

        <ul>
            <li>Check out the firewalls established on your server using this <a href="https://www.digitalocean.com/community/tutorials/how-to-set-up-a-firewall-with-ufw-on-ubuntu-14-04">DigitalOcean tutorial</a>.</li>
            <li>Make sure your <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-network-security.html">AWS Security Group</a> associated with your EC2 instance has correct inbound rules (this is where I had problems!).</li><br><br>
        </ul>

        <img class="myImg" border="0" src="./static/images/security_inbound.jpg" alt="aws security group inbound" width="40%"><br>
        <p class="caption">Figure 8. AWS Security Group Inbound Rules for HTTPS</p><br><br><br><br>

        

        I’m open to comments and/or suggestions! <a href="mailto:kjrowe06@gmail.com">kjrowe06@gmail.com</a><br><br>

        Thanks and good luck!</p>

    </div>

</div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="./static/modal.js"></script>
{% endblock %}