<!doctype html>
<html>
<meta charset="utf-8">
<head>
    <title>Kathryn Rowe</title>
    <!-- Style -->
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,600|Open+Sans:400" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./static/styles.css">
    <link rel="icon" href="./static/images/thermal_image.png" type="image/gif">
</head>

<body>

    {% block content %} put your content here {% endblock %}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>