<!doctype html>
<html>
<meta charset="utf-8">
<head>
    <title>Kathryn Rowe</title>
    <!-- Style -->
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,600|Open+Sans:400" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./static/styles.css">
    <link rel="icon" href="./static/images/thermal_image.png" type="image/gif">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-96551378-1', 'auto');
      ga('send', 'pageview');

    </script>
</head>

<body>
    <div>
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
        <div class="alert alert-info alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
        </div>
        {% endfor %}
        {% endwith %}
    </div>

    {% block content %} BODY CONTENT {% endblock %}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="./static/base.js"></script>
</body>
</html>