{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">

    <div class="row" id="landing-pg">
        <div class="col-xs-12 col-md-6 col-lg-6" align="left">
            Kathryn Rowe
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6" align="right">
            <a href="/">Home</a> • <a href="aboutme">About</a> • <a href="resume">Resume</a> • <a href="contact">Contact</a>
        </div>
    </div>

    <div class="row" id="name">
        Tell Me About the Birds<br>
    </div>

    <div class="row" id="photo-row">
        <div class="col-xs-12 col-md-6 col-lg-6">
            For Hackbright's Software Engineering Fellowship, I completed an intensive 12-week program rooted in the programming language of Python with the focus of learning full-stack web application development. Six weeks was focused on learning the fundamentals of Python, Flask, Javascript, and HTML/CSS. We were then given four weeks to complete a project.<br><br>

            I developed a bird migration visualization tool called <a href="http://tellmeaboutthebirds.com">Tell Me About the Birds</a>.<br><br>

            I also wrote a <a href="http://kathryn-rowe-portfolio.herokuapp.com/aws_demo">blog post</a> about how I deployed it on AWS.<br><br>

            <i>Project description:</i><br>

            We're constantly surrounded by birds, and as they migrate, the frequency of sightings fluctuates. If we can better understand where birds spend most of their time, we can take steps to protect these key locations. "Tell Me About the Birds" is a visualization tool that allows users to explore data from the largest citizen-science dataset in the world (eBird) to better understand where birds have been sighted, when they are most abundant in various locations, and which other species may be present.<br><br>

            <b>Tech Stack:</b> Python, PostgreSQL, JavaScript, Flask, HTML, CSS, Bootstrap, D3<br>

            <b>APIs:</b> Mapbox and DuckDuckGo<br>
            
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6">
            <img class="myImg" border="0" src="./static/images/data_page.jpg" alt="data-page" width="100%">
        </div>
    </div>

    <div class="row" id="photo-row">
        <div class="col-xs-12 col-md-6 col-lg-6">Screencast demo video (no audio)</div>
        <div class="col-xs-12 col-md-6 col-lg-6">
            <video width="100%" controls>
            <source src="./static/images/kate_rowe_demo.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
            </video>
        </div>
    </div>

</div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="./static/modal.js"></script>
{% endblock %}