{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">

    <div class="row" align="right" id="landing-pg">
        <a href="/landing_pg">Home</a> • <a href="resume">Resume</a> • Contact • <a href="/logout">Log-out</a>
    </div>

    <div id="name" class="row" align="center">
    Kathryn Rowe
    </div>

    <div id="contact-info" class="row" align="center">
        <a href="tel:+17155540498">715-554-0498</a> • <a href="mailto:kjrowe06@gmail.com">kjrowe06@gmail.com</a>  •  San Francisco, CA  •  linkedin: <a href="https://www.linkedin.com/in/kathryn-rowe">/in/kathryn-rowe</a>  •  github: <a href="https://github.com/kathryn-rowe">kathryn-rowe</a>
    </div> 

</div>
{% endblock %}