{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">

    <div class="row" align="right" id="landing-pg">
        <a href="/">Home</a> • <a href="resume">Resume</a> • <a href="contact">Contact</a>
    </div>

    <div class="row" id="name">
        Klamath River Mussels
    </div>

    <div class="row" id="photo-row">
        <div class="col-xs-12 col-md-2 col-lg-4">Published maps<br><b>Distribution and abundance of freshwater mussels in the Mid Klamath Subbasin, California</b> Davis, E., David, A., Norgaard, K.M., Parker, T.H., McKay, K., Tennant, C., Soto, T., Rowe, K., and Reed, R Northwest Science 87.3 (2013): 189-206.<br>originally printed 8½ x 11”</div>
        <div class="col-xs-12 col-md-10 col-lg-8">
            <img border="0" src="./static/images/KlamathBasin.jpg" alt="KlamathBasin" width="100%">
        </div>
    </div>

    <div class="row" id="photo-row">
        <div class="col-xs-12 col-md-2 col-lg-4">Developed for project but not used in final published paper.<br>Originally printed 8½ x 11”</i></div>
        <div class="col-xs-12 col-md-10 col-lg-8">
            <img border="0" src="./static/images/Kmussels.jpg" alt="Kmussels" width="100%">
        </div>
    </div>

</div>
{% endblock %}