{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">

    <div class="row" id="landing-pg">
        <div class="col-xs-12 col-md-6 col-lg-6" align="left">
            Kathryn Rowe
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6" align="right">
            <a href="/">Home</a> • <a href="resume">Resume</a> • <a href="contact">Contact</a><!--  • <a href="/logout">Log-out</a> -->
        </div>
    </div>

    <div class="row" id="name">
        Klamath River Mussels
    </div>

    <div class="row" id="photo-row">
        <div class="col-xs-12 col-md-6 col-lg-6">Published maps<br><b>Distribution and abundance of freshwater mussels in the Mid Klamath Subbasin, California</b> Davis, E., David, A., Norgaard, K.M., Parker, T.H., McKay, K., Tennant, C., Soto, T., Rowe, K., and Reed, R Northwest Science 87.3 (2013): 189-206.<br>originally printed 8½ x 11”<br>
            <b>Tools:</b> ArcMap, Adobe Photoshop, Illustrator, Indesign</div>
        <div class="col-xs-12 col-md-6 col-lg-6">
            <img class="myImg" border="0" src="./static/images/KlamathBasin.jpg" alt="KlamathBasin" width="100%">
        </div>
    </div>

    <div class="row" id="photo-row">
        <div class="col-xs-12 col-md-6 col-lg-6">Developed for project but not used in final published paper.<br>Originally printed 8½ x 11”</i><br>
            <b>Tools:</b> ArcMap, Adobe Photoshop, Illustrator, Indesign</div>
        <div class="col-xs-12 col-md-6 col-lg-6">
            <img class="myImg" border="0" src="./static/images/Kmussels.jpg" alt="Kmussels" width="100%">
        </div>
    </div>

</div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="./static/modal.js"></script>
{% endblock %}