{% extends 'base.html' %}
{% block content %}
<?php include_once("analyticstracking.php") ?>
<div class="container-fluid">

    <div class="row" id="landing-pg">
        <div class="col-xs-12 col-md-6 col-lg-6" align="left">
            Kathryn Rowe
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6" align="right">
            Home • <a href="resume">Resume</a> • <a href="contact">Contact</a>
        </div>
    </div>

    
    <!-- Image row -->
    <div class="row" id="projects-row">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <a href="birds"><img class="picture" border="0" src="./static/images/small/data_pageSM.jpg" alt="birds" width="100%"></a>
        </div>  

        <div class="col-xs-12 col-md-6 col-lg-3">
            <a href="srf"><img class="picture" border="0" src="./static/images/small/SRF_wkshpSM.jpg" alt="srf" width="100%"></a>
        </div> 
        <div class="col-xs-12 col-md-10 col-lg-3">
            <a href="sfk"><img class="picture" border="0" src="./static/images/small/WildlifeCamSM.jpg" alt="sfk" width="100%"></a>
        </div>
        <div class="col-xs-12 col-md-2 col-lg-3">
            <a href="tir_salmon"><img class="picture" border="0" src="./static/images/small/SRpopTempSM.jpg" alt="tir_salmon" width="100%"></a>
        </div>
    </div>

    <!-- Text row -->
    <div class="row" id="text-row">
        <div class="col-xs-12 col-md-6 col-lg-3" align="center">
            Tell Me About the Birds
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3" align="center">
            Community Outreach
        </div> 
        <div class="col-xs-12 col-md-10 col-lg-3" align="center">
            Tracking Wildlife in the Southern Sierra
        </div>
        <div class="col-xs-12 col-md-2 col-lg-3" align="center">
            Applications of Thermal Infrared Imaging
        </div>
    </div>

    <!-- Image row -->
    <div class="row" id="projects-row">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <a href="melnea"><img class="picture" border="0" src="./static/images/small/MelneaCassSM.jpg" alt="melnea" width="100%"></a>
        </div>
        <div class="col-xs-12 col-md-10 col-lg-3">
            <a href="spawning_crwa"><img class="picture" border="0" src="./static/images/small/CRbasinSM.jpg" alt="spawning_crwa" width="100%"></a>
        </div>    
        <div class="col-xs-12 col-md-10 col-lg-3">
            <a href="ne_watershed"><img class="picture" border="0" src="./static/images/small/NEWatershedSM.jpg" alt="NEWatershed" width="100%"></a>
        </div>
        <div class="col-xs-12 col-md-10 col-lg-3">
            <a href="klamath"><img class="picture" border="0" src="./static/images/small/KmusselsSM.jpg" alt="klamath" width="100%"></a>
        </div>
    </div>

    <!-- Text row -->
    <div class="row" id="text-row">
        <div class="col-xs-12 col-md-6 col-lg-3" align="center">
            Melnea Cass Boulevard
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3" align="center">
            Available Spawning Habitat in the Charles River
        </div> 
        <div class="col-xs-12 col-md-10 col-lg-3" align="center">
            Which Watershed Do You Live In?
        </div>
        <div class="col-xs-12 col-md-2 col-lg-3" align="center">
            Klamath River Mussels
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="./static/landing-pg.js"></script>
{% endblock %}