{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">

    <div class="row" align="right" id="landing-pg">
        Home • <a href="resume">Resume</a> • <a href="contact">Contact</a>
    </div>

    <div id="landing-name" class="row" align="center">
        Kathryn Rowe
    </div>

    <div class="row" id="projects-row">
        <div class="col-xs-12 col-md-2 col-lg-4">
            <img border="0" src="./static/images/data_page.jpg" alt="data_page" width="100%">
        </div>
        
        <div class="col-xs-12 col-md-10 col-lg-4">
            <img border="0" src="./static/images/Kmussels.jpg" alt="Kmussels" width="100%">
        </div>

        <div class="col-xs-12 col-md-10 col-lg-4">
            <img border="0" src="./static/images/WildlifeCam.jpg" alt="Wildlife-cam" width="100%">
        </div>
    </div>

    <div class="row" id="projects-row">
        <div class="col-xs-12 col-md-2 col-lg-4">
            <img border="0" src="./static/images/MelneaCass.jpg" alt="melnea" width="100%">
        </div>
        
        <div class="col-xs-12 col-md-10 col-lg-4">
            <img border="0" src="./static/images/NEWatershed.jpg" alt="NEWatershed" width="100%">
        </div>

        <div class="col-xs-12 col-md-10 col-lg-4">
            <img border="0" src="./static/images/CRbasin.jpg" alt="CRbasin" width="100%">
        </div>
    </div>

    <div class="row" id="projects-row">
        <div class="col-xs-12 col-md-2 col-lg-4">
            <img border="0" src="./static/images/SRpopTemp.jpg" alt="SRpopTemp" width="100%">
        </div>
        
        <div class="col-xs-12 col-md-10 col-lg-4">
            
        </div>

        <div class="col-xs-12 col-md-10 col-lg-4">
            
        </div>
    </div>
</div>

{% endblock %}