{% extends 'base.html' %}
{% block content %}
<?php include_once("analyticstracking.php") ?>
<div class="container-fluid">

    <div class="row" id="landing-pg">
        <div class="col-xs-12 col-md-6 col-lg-6" align="left">
            Kathryn Rowe
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6" align="right">
            Home • <a href="aboutme">About</a> • <a href="resume">Resume</a> • <a href="contact">Contact</a><!--  • <a href="/logout">Log-out</a> -->
        </div>
    </div>

    
    <!-- Image row -->
    <div class="row" id="projects-row">
        <div class="col-xs-12 col-md-4 col-lg-3">
            <div><a href="birds"><img class="picture" border="0" src="./static/images/small/data_pageSM.jpg" alt="birds" width="100%"></a></div>
            <div align="center">Tell Me About the Birds</div>
        </div>

        <div class="col-xs-12 col-md-4 col-lg-3">
            <div><a href="srf"><img class="picture" border="0" src="./static/images/small/SRF_wkshpSM.jpg" alt="srf" width="100%"></a></div>
            <div align="center">Community Outreach</div> 
        </div> 

        <div class="col-xs-12 col-md-4 col-lg-3">
            <div><a href="sfk"><img class="picture" border="0" src="./static/images/small/WildlifeCamSM.jpg" alt="sfk" width="100%"></a></div>
            <div align="center">Tracking Wildlife in the Southern Sierra</div>
        </div>

        <div class="col-xs-12 col-md-4 col-lg-3">
            <div><a href="tir_salmon"><img class="picture" border="0" src="./static/images/small/SRpopTempSM.jpg" alt="tir_salmon" width="100%"></a></div>
            <div align="center">Applications of Thermal Infrared Imaging</div>
        </div>
    </div>

    <!-- Text row: Intigrated this row with the image row above: better for mobile viewing.  -->
    <!-- <div class="row" id="text-row"> -->
<!--         <div class="col-xs-12 col-md-6 col-lg-3" align="center">
            Tell Me About the Birds
        </div> -->
<!--         <div class="col-xs-12 col-md-6 col-lg-3" align="center">
            Community Outreach
        </div>  -->
<!--         <div class="col-xs-12 col-md-6 col-lg-3" align="center">
            Tracking Wildlife in the Southern Sierra
        </div> -->
<!--         <div class="col-xs-12 col-md-6 col-lg-3" align="center">
            Applications of Thermal Infrared Imaging
        </div> -->
    <!-- </div> -->

    <!-- Image row -->
    <div class="row" id="projects-row">
        <div class="col-xs-12 col-md-4 col-lg-3">
            <div><a href="melnea"><img class="picture" border="0" src="./static/images/small/MelneaCassSM.jpg" alt="melnea" width="100%"></a></div>
            <div align="center">Melnea Cass Boulevard</div>
        </div>

        <div class="col-xs-12 col-md-4 col-lg-3">
            <div><a href="spawning_crwa"><img class="picture" border="0" src="./static/images/small/CRbasinSM.jpg" alt="spawning_crwa" width="100%"></a></div>
            <div align="center">Available Spawning Habitat in the Charles River</div>
        </div> 
  
        <div class="col-xs-12 col-md-4 col-lg-3">
            <div><a href="ne_watershed"><img class="picture" border="0" src="./static/images/small/NEWatershedSM.jpg" alt="NEWatershed" width="100%"></a></div>
            <div align="center">Which Watershed Do You Live In?</div>
        </div>

        <div class="col-xs-12 col-md-4 col-lg-3">
            <div><a href="klamath"><img class="picture" border="0" src="./static/images/small/KmusselsSM.jpg" alt="klamath" width="100%"></a></div>
            <div align="center">Klamath River Mussels</div>
        </div>
    </div>

    <!-- Text row: Intigrated this row with the image row above: better for mobile viewing. -->
    <!-- <div class="row" id="text-row"> -->
<!--         <div class="col-xs-12 col-md-6 col-lg-3" align="center">
            Melnea Cass Boulevard
        </div> -->
<!--         <div class="col-xs-12 col-md-6 col-lg-3" align="center">
            Available Spawning Habitat in the Charles River
        </div>  -->
<!--         <div class="col-xs-12 col-md-6 col-lg-3" align="center">
            Which Watershed Do You Live In?
        </div> -->
<!--         <div class="col-xs-12 col-md-6 col-lg-3" align="center">
            Klamath River Mussels
        </div> -->
    <!-- </div> -->

        <!-- Image row -->
    <div class="row" id="projects-row">
        <div class="col-xs-12 col-md-4 col-lg-3">
            <div><a href="invites"><img class="picture" border="0" src="./static/images/small/Invites_SM.jpg" alt="Invites" width="100%"></a></div>
            <div align="center">Wedding Invitations</div>
        </div>

        <div class="col-xs-12 col-md-4 col-lg-3">
            <div><a href="volunteer"><img class="picture" border="0" src="./static/images/small/clover.jpg" alt="Volunteer" width="100%"></a></div>
            <div align="center">Volunteer Work</div>
        </div>

        <div class="col-xs-12 col-md-4 col-lg-3">
            <div><a href="hobby"><img class="picture" border="0" src="./static/images/small/knit.jpg" alt="Knit" width="100%"></a></div>
            <div align="center">Hobbies</div>
        </div>
    </div>

    <!-- Text row: Intigrated this row with the image row above: better for mobile viewing. -->
    <!-- <div class="row" id="text-row"> -->
<!--         <div class="col-xs-12 col-md-6 col-lg-3" align="center">
            Custom Invitations
        </div> -->
<!--         <div class="col-xs-12 col-md-6 col-lg-3" align="center">
            Volunteer Work
        </div> -->
        <!-- <div class="col-xs-12 col-md-6 col-lg-3" align="center">
            Hobbies
        </div> -->
    <!-- </div> -->
</div>
<p><i>* The log-in feature has been disabled. You do not need a password to access this portfolio</i></p>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="./static/landing-pg.js"></script>
{% endblock %}