{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">

    <div class="row" id="landing-pg">
        <div class="col-xs-12 col-md-6 col-lg-6" align="left">
            Kathryn Rowe
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6" align="right">
            <a href="/">Home</a> • <a href="/aboutme">About</a> • <a href="/coding">Blog</a> • <a href="/resume">Resume</a> • <a href="/contact">Contact</a><!--  • <a href="/logout">Log-out</a> -->
        </div>
    </div>

    <div class="row" id="name">
        Melnea Cass Boulevard Project
    </div>

    <div class="row" id="photo-row">
        <div class="col-xs-12 col-md-6 col-lg-6">The City of Boston retained the Charles River Watershed Assocition (CRWA) to provide guidance on stormwater management techniques for the city’s Melnea Cass Redesign Project. CRWA’s goals for the project included designing and determining the appropriate location for green infrastructure catch basins. These new stormwater inputs improve the quality of water running into local watersheds by attenuating peak rainfall events and minimizing combined sewer overflows. As CRWA’s GIS Intern, I divided the total area into five sub-sections and determined impervious and pervious surface area values. A CRWA staff hydrologist then entered the data into WinSLAMM software and analyzed the individual effects for both existing and proposed condition models.<br><br>
            
        <i>Tools:</i> ArcMap, Adobe Photoshop, Illustrator, Indesign

        </div>
        
        <div class="col-xs-12 col-md-6 col-lg-6">
            <img class="myImg" border="0" src="./static/images/MelneaCass.jpg" alt="MelneaCass" width="100%">
        </div>
    </div>

    <div class="row" id="photo-row">
        <div class="col-xs-12 col-md-6 col-lg-6">Overview of area</div>
        <div class="col-xs-12 col-md-6 col-lg-6">
            <img class="myImg" border="0" src="./static/images/MCdrain.jpg" alt="MCdrain" width="100%">
        </div>
    </div>

</div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="./static/modal.js"></script>
{% endblock %}