
{% extends 'base.html' %}
{% block content %}
<script src="./static/resume.js"></script>

<div class="container-fluid">

    <div class="row" align="right" id="landing-pg">
        <a href="/">Home</a> • Resume • <a href="contact">Contact</a>
    </div>

</div>

<div class="container-fluid" id="homepage">

    <div id="name" class="row" align="center">
        Kathryn Rowe
    </div>

    <div id="contact-info" class="row" align="center">
        <a href="tel:+17155540498">715-554-0498</a> • <a href="mailto:kjrowe06@gmail.com">kjrowe06@gmail.com</a>  •  San Francisco, CA  •  linkedin: <a href="https://www.linkedin.com/in/kathryn-rowe">/in/kathryn-rowe</a>  •  github: <a href="https://github.com/kathryn-rowe">kathryn-rowe</a>
    </div> 

    <div class="row" id="header-row">
        <div class="col-xs-12 col-md-2 col-lg-2">Technical Skills</div>
        <div class="col-xs-12 col-md-10 col-lg-10"><b>Languages & Technologies:</b> Python, JavaScript (AJAX, JSON, jQuery), HTML, CSS, Bootstrap, SQL (PostgreSQL, MySQL, SQLAlchemy, CRM), Flask, Jinja2, Git, Bash scripting, Testing (Unit, Integration, Jasmine), Django, ChartJS, D3, Mapbox, GoogleMaps, DuckDuckGo API<br>
        <b>Geospatial:</b> ArcGIS 10.x, QGIS, OpenStreetMap <br>
        <b>Design:</b> Adobe Photoshop, Illustrator, & Indesign; TileMill</div>
    </div>

    <div class="row" id="header-row">
        <div class="col-xs-12 col-md-2 col-lg-2">Projects</div>
        <div class="col-xs-12 col-md-10 col-lg-10"><b>Tell Me About the Birds.</b> A visualization tool that allows users to explore data about where birds have been sighted, when they are most abundant, and which other species may be present.<br>
        <b>Stack:</b> Python, SQLAlchemy, JavaScript, Flask, HTML, CSS, Bootstrap, D3</div>
    </div>

    <div class="row" id="header-row">
        <div class="col-xs-12 col-md-2 col-lg-2">Education</div>
        <div class="col-xs-12 col-md-10 col-lg-10"><b>Software Engineering Fellowship,</b> Hackbright Academy, San Francisco, CA, March 2017<br>
        <b>Master’s in Geographic Information Technology,</b> Northeastern University, Boston, MA, 2012<br>
        <b>Bachelor of Arts - Biology,</b> St. Catherine University, St. Paul, MN, 2007</div>
    </div>

    <div class="row" id="header-row">
        <div class="col-xs-12 col-md-2 col-lg-2">Publication</div>
        <div class="col-xs-12 col-md-10 col-lg-10"><b>Distribution and abundance of freshwater mussels in the Mid Klamath Subbasin, California</b><br>
        Davis, E., David, A., Norgaard, K.M., Parker, T.H., McKay, K., Tennant, C., Soto, T., Rowe, K., and Reed, R. Northwest Science 87.3 (2013): 189-206.</div>
    </div>

    <div class="row" id="header-row">
        <div class="col-xs-12 col-md-2 col-lg-2">Work Experience</div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-2 col-lg-2" align="right"><b>Salmonid Restoration Federation</b><br> Aug. 2015 - Dec. 2016</div>
        <div class="col-xs-12 col-md-10 col-lg-10"><b>Project Coordinator</b>, Eureka, CA<br>
        • Worked closely with Executive Director to coordinate and organize technical education events, including California’s largest restoration conference.<br>
        • Coordinated Redwood Creek Monitoring Program’s data collection and analysis.<br>
        • Created outreach materials and distributed them to the community using social media.<br>
        • Queried and updated membership, donor, and eNewsletter data in Nationbuilder database.</div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-2 col-lg-2" align="right"><b>Patagonia, Inc.</b><br>Oct. 2014 - Aug. 2015<br>July 2011 - June 2013</div>
        <div class="col-xs-12 col-md-10 col-lg-10"><b>Floor Supervisor & Grants Coordinator</b>, San Francisco, Boston, & St. Paul<br>
        • Evaluated grant requests and coordinated the distribution of award money to local nonprofits.<br>
        • Lobbied in Washington D.C. for protection of Arctic National Wildlife Refuge.</div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-2 col-lg-2" align="right"><b>Humboldt Fish Action Council</b><br>March 2015 - May 2015</div>
        <div class="col-xs-12 col-md-10 col-lg-10"><b>Nursery & Field Crew Member</b>, Eureka, CA<br>
        • Participated in salmonid habitat restoration projects by propagating native plants and writing grants to fund further projects.</div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-2 col-lg-2" align="right"><b>Sequoia ForestKeeper</b><br>May - Sept. 2014</div>
        <div class="col-xs-12 col-md-10 col-lg-10"><b>GIS & Intern Coordinator</b>, Kernville, CA<br>
        • Designed organization’s geospatial database; redesigned Adopt a Sequoia database in Access.<br>
        • Prepared and presented final reports for use in litigation and community education.</div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-2 col-lg-2" align="right"><b>Charles River Watershed Association</b><br>Dec. 2011 - May 2013</div>
        <div class="col-xs-12 col-md-10 col-lg-10"><b>GIS Intern & Water Quality Volunteer</b>, Weston, MA<br>
        • Developed report illustrating possible spawning habitat for native fish.<br>
        • Assisted in monthly monitoring program to collect baseline water quality data.</div>
    </div>

    <div class="row" id="header-row">
        <div class="col-xs-12 col-md-2 col-lg-2">Volunteer Experience</div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-2 col-lg-2" align="right"><b>Redwood Region<br>Audubon Society</b><br>Sept. 2015 - Dec. 2016</div>
        <div class="col-xs-12 col-md-10 col-lg-10"><b>Membership Co-Chair</b>, Eureka, CA<br>
        • Supported local Audubon chapter’s membership by creating and distributing renewal notices, processing online donations, and maintaining membership database.</div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-2 col-lg-2" align="right"><b>Native Plant Society</b><br>Sept. 2015 - Dec. 2016</div>
        <div class="col-xs-12 col-md-10 col-lg-10"><b>EcoNews Editor</b>, Eureka, CA<br>
        • Compiled and edited articles for local Native Plant Society’s newsletter.</div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12" align="center">
            <a href="./static/Kathryn_Rowe_resume.pdf" download="Kathryn_Rowe_Resume" data-toggle="tooltip" data-placement="right" title="Download Kathryn's resume">
                <img border="0" src="./static/images/download.png" alt="KatePDF" width="50" height="70">
            </a>
        </div>
    </div>
</div>
{% endblock %}