
{% extends 'base.html' %}
{% block content %}
<script src="https://code.jquery.com/jquery.js"></script>
<script src="./static/resume.js"></script>

<div class="container-fluid">
    <div class="row" align="right" id="landing-pg">
        <a href="/">Home</a> • <a href="/aboutme">About</a> • <a href="/coding">Blog</a> • Resume • <a href="/contact">Contact</a><!--  • <a href="/logout">Log-out</a> -->
    </div>
</div>

<div class="container-fluid" id="homepage">

    <div id="name" class="row" align="center">
        Kathryn Rowe
    </div>

    <div id="contact-info" class="row" align="center">
        <a href="tel:+17155540498">715-554-0498</a> •  San Francisco Bay Area  •  linkedin: <a href="https://www.linkedin.com/in/kathryn-rowe">/kathryn-rowe</a>  •  github: <a href="https://github.com/kathryn-rowe">kathryn-rowe</a>
    </div> 

    <div class="row" id="header-row">
        <div class="col-xs-12 col-md-3 col-lg-3">Technical Skills</div>

        <div class="col-xs-12 col-md-9 col-lg-9">
            Python (Flask, Django), JavaScript (AJAX, JSON, jQuery), HTML, CSS, Bootstrap, SQL (PostgreSQL, MySQL), ORM (SQLAlchemy, GeoAlchemy), Git/Github, Bash scripting, Tests (TDD, Unit, Integration, Jasmine), D3, Vagrant, Heroku, AWS, Drupal<br>
            <b>Geospatial:</b> ArcGIS, QGIS, OSM, Mapbox, Leaflet <b>Design:</b> Adobe Creative Suite, TileMill
        </div>
    </div>

    <div class="row" id="header-row">
        <div class="col-xs-12 col-md-3 col-lg-3">Projects</div>

        <div class="col-xs-12 col-md-9 col-lg-9">
            <a href="http://kathryn-rowe-portfolio.herokuapp.com/birds"><b>Tell Me About the Birds.</b></a> A visualization tool that allows users to explore data about where birds have been sighted, when they are most abundant, and which other species may be present.<br>
            <b>Stack:</b> Python (Flask), PostgreSQL, JavaScript, HTML/CSS, D3<br>
            <b>APIs:</b> Mapbox & DuckDuckGo<br><br>

            <a href="https://github.com/kathryn-rowe/Kathryn-Rowe-portfolio"><b>Portfolio.</b></a> A personal portfolio designed to showcase experience and feature blogs about current work.<br>
            <b>Stack:</b> Python (Flask), PostgreSQL, JavaScript, HTML/CSS<br><br>

            <a href="https://github.com/kathryn-rowe/Impact-Hack"><b>Hey Congress!</b></a> Winner at <i>Impact Hackathon</i>. Worked with a small team to create a central platform where Voters can inform themselves and express opinions about upcoming legislation.<br>
            <b>Stack:</b> Python (Flask), PostgreSQL, JavaScript, HTML/CSS<br>

            <a href="https://github.com/geosphere-io"><b>Code for America.</b></a> As Python & GIS Lead for project TRIP4SF, I collaborate with other volunteers to develop an app that tracks the Department of Transportation’s project pipeline.<br>
            <b>Stack:</b> Python (Flask), PostgreSQL, JavaScript, HTML/CSS<br><br>
        </div>
    </div>

    <div class="row" id="header-row">
        <div class="col-xs-12 col-md-3 col-lg-3">Education</div>

        <div class="col-xs-12 col-md-9 col-lg-9">
            <b>Software Engineering Fellowship,</b> Hackbright Academy, San Francisco, CA, March 2017<br>
            <b>Master’s in Geographic Information Technology,</b> Northeastern University, Boston, MA, 2012<br>
            <b>Bachelor of Arts - Biology,</b> St. Catherine University, St. Paul, MN, 2007
        </div>
    </div>

    <div class="row" id="header-row">
        <div class="col-xs-12 col-md-3 col-lg-3">Publication</div>
        
        <div class="col-xs-12 col-md-9 col-lg-9">
            <b>Distribution and Abundance of Freshwater Mussels in the Mid Klamath Subbasin, California</b><br>
            Davis, E., David, A., Norgaard, K.M., Parker, T.H., McKay, K., Tennant, C., Soto, T., Rowe, K., and Reed, R. Northwest Science 87.3 (2013): 189-206.
        </div>
    </div>

    <div class="row" id="header-row">
        <div class="col-xs-12 col-md-3 col-lg-3">Work Experience</div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-3 col-lg-3" align="right"><b>Salmonid Restoration Federation</b><br> April 2017 - present<br> Oct. 2014 - Dec 2016</div>

        <div class="col-xs-12 col-md-9 col-lg-9">
            <b>Project Coordinator</b>, Eureka, CA<br>
            • Currently inputing and maintaining data for Redwood Creek Low-Flow Monitoring Project.<br>
            • Provided daily and project-based maintenance tasks for servers, OS upgrades, data migration, monitoring, and security.<br>
            • Updated and created Drupal-based website content; created and distributed outreach materials through social media, monthly eNewsletters, and targeted outreach.<br>
            • Wrote complex queries and updated membership and donor information in CRM database.<br>
            • Worked closely with Executive Director to coordinate statewide technical education events.
        </div>
    </div>

    <div class="row">       
        <div class="col-xs-12 col-md-3 col-lg-3" align="right"><b>Patagonia, Inc.</b><br>Oct. 2014 - Aug. 2015<br>July 2011 - June 2013</div>
        <div class="col-xs-12 col-md-9 col-lg-9">
            <b>Grants Coordinator & Floor Supervisor</b>, San Francisco, Boston, & St. Paul<br>
            • Evaluated grant requests and coordinated the distribution of award money to local nonprofits.
            • Designed a New England watershed map for company’s Common Waters campaign.
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-3 col-lg-3" align="right"><b>Sequoia ForestKeeper</b><br>May - Sept. 2014</div>
        
        <div class="col-xs-12 col-md-9 col-lg-9">
            <b>Geographic Information Systems Coordinator</b>, Kernville, CA<br>
            • Designed and implemented organization’s GIS data storage schema and spatial databases.
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-3 col-lg-3" align="right"><b>Charles River Watershed Association</b><br>Dec. 2011 - May 2013</div>

        <div class="col-xs-12 col-md-9 col-lg-9">
            <b>Geographic Information Systems Intern</b>, Weston, MA<br>
            • Developed research report illustrating possible spawning habitat for native fish.
            • Used LiDAR and City infrastructure data to perform storm water modeling.
        </div>
    </div>

    <div class="row" id="header-row">
        <div class="col-xs-12 col-md-3 col-lg-3">Volunteer Experience</div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-3 col-lg-3" align="right"><b>PyBay</b><br>July - Aug. 2017</div>

        <div class="col-xs-12 col-md-9 col-lg-9">
            <b>Conference Organizer</b>, San Francisco, CA<br>
            • Connected the Python community by organizing, creating, and distributing outreach materials.
        </div>
    </div>
    <!-- Download my resume -->
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12" align="center">
            <a href="./static/Kathryn_Rowe_Resume.pdf" download="Kathryn_Rowe_Resume" data-toggle="tooltip" data-placement="right" title="Download Kathryn's resume">
                <img border="0" src="./static/images/download.png" alt="KatePDF" width="50" height="70">
            </a>
        </div>
    </div>
</div>
{% endblock %}