
{% extends 'base.html' %}
{% block content %}
<script src="https://code.jquery.com/jquery.js"></script>
<script src="./static/resume.js"></script>

<div class="container-fluid">
    <div class="row" align="right" id="landing-pg">
        <a href="/">Home</a> • <a href="/aboutme">About</a> • <a href="/coding">Blog</a> • Resume • <a href="/contact">Contact</a><!--  • <a href="/logout">Log-out</a> -->
    </div>
</div>

<div class="container-fluid" id="homepage">

    <div id="name" class="row" align="center">
        Kathryn Rowe
    </div>

    <div id="contact-info" class="row" align="center">
        <a href="tel:+17155540498">715-554-0498</a> • <a href="mailto:kjrowe06@gmail.com">kjrowe06@gmail.com</a>  •  San Francisco Bay Area  •  linkedin: <a href="https://www.linkedin.com/in/kathryn-rowe">/kathryn-rowe</a>  •  github: <a href="https://github.com/kathryn-rowe">kathryn-rowe</a>
    </div> 

    <div class="row" id="header-row">
        <div class="col-xs-12 col-md-3 col-lg-3">Technical Skills</div>
        <div class="col-xs-12 col-md-9 col-lg-9"><b>Languages & Technologies:</b> Python (Flask, Django), JavaScript (AJAX, JSON, jQuery), HTML, CSS, Bootstrap, SQL (PostgreSQL, MySQL), ORM (SQLAlchemy), Git/Github, Bash scripting, Testing (Unit, Integration, Jasmine), ChartJS, D3, Vagrant (Linux), Heroku, AWS, Drupal<br>
        <b>Geospatial:</b> ArcGIS 10.x, QGIS, OpenStreetMap <b>Design:</b> Adobe Creative Suite; TileMill</div>
    </div>

    <div class="row" id="header-row">
        <div class="col-xs-12 col-md-3 col-lg-3">Projects</div>

        <div class="col-xs-12 col-md-9 col-lg-9"><a href="http://kathryn-rowe-portfolio.herokuapp.com/birds"><b>Tell Me About the Birds.</b></a> A visualization tool that allows users to explore data about where birds have been sighted, when they are most abundant, and which other species may be present.<br>
        <b>Stack:</b> Python (Flask), PostgreSQL, JavaScript, HTML/CSS, D3<br>
        <b>APIs:</b> Mapbox & DuckDuckGo<br><br>

        <b>Portfolio.</b></a> A personal portfolio designed to showcase experience and feature blogs about current work.<br>
        <b>Stack:</b> Python (Flask), PostgreSQL, JavaScript, HTML/CSS<br><br>

        <b>Hey Congress!</b></a> Winner at <i>Impact Hackathon</i>. Worked with a small team to create a central platform where Voters can inform themselves and express opinions about upcoming legislation.<br>
        <b>Stack:</b> Python (Flask), PostgreSQL, JavaScript, HTML/CSS<br>
    </div>

    </div>

    <div class="row" id="header-row">
        <div class="col-xs-12 col-md-3 col-lg-3">Education</div>

        <div class="col-xs-12 col-md-9 col-lg-9"><b>Software Engineering Fellowship,</b> Hackbright Academy, San Francisco, CA, March 2017<br>
        <b>Master’s in Geographic Information Technology,</b> Northeastern University, Boston, MA, 2012<br>
        <b>Bachelor of Arts - Biology,</b> St. Catherine University, St. Paul, MN, 2007</div>
    </div>

    <div class="row" id="header-row">
        <div class="col-xs-12 col-md-3 col-lg-3">Publication</div>
        <div class="col-xs-12 col-md-9 col-lg-9"><b>Distribution and Abundance of Freshwater Mussels in the Mid Klamath Subbasin, California</b><br>
        Davis, E., David, A., Norgaard, K.M., Parker, T.H., McKay, K., Tennant, C., Soto, T., Rowe, K., and Reed, R. Northwest Science 87.3 (2013): 189-206.</div>
    </div>

    <div class="row" id="header-row">
        <div class="col-xs-12 col-md-3 col-lg-3">Work Experience</div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-3 col-lg-3" align="right"><b>Salmonid Restoration Federation</b><br> Oct. 2014 - Aug. 2017</div>
        <div class="col-xs-12 col-md-9 col-lg-9"><b>Project Coordinator</b>, Eureka, CA<br>
        Collaborated with monitoring team to design the Redwood Creek Monitoring Program and write an EPA Quality Assurance Project Plan. Coordinated the data collection and analysis of the Redwood Creek Monitoring Program under strict quality assurance procedures. Wrote complex queries in NationBuilder CRM database. Provided daily and project-based maintenance tasks for servers, OS upgrades, data migration, monitoring, and security. Initiated multiple technical projects, including developing an innovative Microsoft Excel-based system to track grant expenditures and new system-wide security and backup procedures. Curated and maintained Drupal-based website content. Created and distributed outreach materials through social media, monthly eNewsletters, and targeted outreach. Worked closely with Executive Director to coordinate statewide technical education events.
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-3 col-lg-3" align="right"><b>Sequoia ForestKeeper</b><br>May - Sept. 2014</div>
        <div class="col-xs-12 col-md-9 col-lg-9"><b>GIS Coordinator</b>, Kernville, CA<br>
        Developed and implemented organization’s data storage schema and RDMS databases. Designed, tested and implemented database backup and recovery procedures. Redesigned Adopt a Sequoia Microsoft Access-based database; updated corresponding legacy code and database schema. Compiled, summarized, and presented research reports for use in litigation and community education. Planned and ran technical training sessions for new and existing employees. Instructed field crew about data collection techniques, safety protocols, and QA/QC methods.
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-3 col-lg-3" align="right"><b>Charles River Watershed Association</b><br>Dec. 2011 - May 2013</div>
        <div class="col-xs-12 col-md-9 col-lg-9"><b>GIS Intern & Water Quality Volunteer</b>, Weston, MA<br>
        Compiled research data and created 47-page report illustrating possible spawning locations for the Alewife and Blueback Herrings and American Shad. Administered complex spatial and City infrastructure data. Created, documented, tested, and debugged to ensure proper functioning of geographic information applications and systems. Worked with staff and local stakeholders to assess watershed health and map stormwater treatment projects.
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-3 col-lg-3" align="right"><b>Patagonia, Inc.</b><br>July 2011 - June 2013</div>
        <div class="col-xs-12 col-md-9 col-lg-9"><b>Grants Coordinator & Floor Supervisor</b>, Boston, MA<br>
        Assisted customers in a fast-paced environment while helping store management with daily operational tasks. Initiated and developed relationships with potential grant-receiving nonprofits; evaluated grant requests and coordinated the distribution of award money to local nonprofits. Managed staff participation in store internships; used Excel and Prezi to analyze and compile data into reports for Patagonia headquarters and partnering organizations. Designed a New England watershed map for company’s Common Waters campaign using ArcMap and Adobe Design Suite. Assisted customers in a fast-paced environment while helping store management with daily operational tasks. Performance evaluations available upon request.
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-3 col-lg-3" align="right"><b>AmeriCorps</b><br>Jan. - Nov. 2009</div>
        <div class="col-xs-12 col-md-9 col-lg-9"><b>Watershed Steward Member</b>, Sawyers Bar, CA<br>
        Led efforts as the Botany Support Program Coordinator to survey and treat noxious weed sites within the Salmon River Watershed. Used geographic information systems to translate a largescale project into achievable tasks by strategically fragmenting the basin into smaller areas.
        </div>
    </div>

    <div class="row" id="header-row">
        <div class="col-xs-12 col-md-3 col-lg-3">Volunteer Experience</div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-3 col-lg-3" align="right"><b>Code for SF/America</b><br>June 2017 - present</div>
        <div class="col-xs-12 col-md-9 col-lg-9"><b>GIS & Python Lead</b>, San Francisco, CA<br>
        Currently planning and developing an application to track the City’s Department of Transportation projects. Using Leaflet, Python, QGIS, and PostgreSQL to track and display the City’s transportation project pipeline.
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-3 col-lg-3" align="right"><b>PyBay</b><br>July - Aug. 2017</div>
        <div class="col-xs-12 col-md-9 col-lg-9"><b>Conference Organizer</b>, San Francisco, CA<br>
        Connected the Python community by organizing, creating, and distributing outreach materials. Organized work trade shifts and responsibilities. Supervised 14 volunteers during 4-day conference event. Updated web-based content using Django.
        </div>
    </div>
    <!-- Download my resume -->
<!--     <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12" align="center">
            <a href="./static/Kathryn_Rowe_Resume.pdf" download="Kathryn_Rowe_Resume" data-toggle="tooltip" data-placement="right" title="Download Kathryn's resume">
                <img border="0" src="./static/images/download.png" alt="KatePDF" width="50" height="70">
            </a>
        </div>
    </div> -->
</div>
{% endblock %}