{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">

    <div class="row" id="landing-pg">
        <div class="col-xs-12 col-md-6 col-lg-6" align="left">
            Kathryn Rowe
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6" align="right">
            <a href="/">Home</a> • <a href="resume">Resume</a> • <a href="contact">Contact</a>
        </div>
    </div>

    <div class="row" id="name">
        Sequoia ForestKeeper®
    </div>

    <div class="row" id="photo-row">
        <div class="col-xs-12 col-md-2 col-lg-4">During the summers of 2009, 2010, 2011, and 2014, Sequoia ForestKeeper® ran wildlife cameras in the US Forest Service's southern Greenhorn Mountain project areas. I trained staff, organized logistics, and compiled year-end data for the 2014 field season. I also created the above map to show camera locations, data collected, and nearby fire activity that caused difficulties for the 2014 field crew to access the cameras.</div>
        <div class="col-xs-12 col-md-10 col-lg-8">
            <img border="0" src="./static/images/WildlifeCam.jpg" alt="WildlifeCam" width="100%">
        </div>
    </div>

    <div class="row" id="photo-row">
        <div class="col-xs-12 col-md-2 col-lg-4">As Intern Coordinator, I taught a field crew how to perform various data collection techniques, including how to estimate percent canopy cover. I created this diagram to illustrate typical canopy structure found throughout the Sequoia National Forest.<br>
        <i>left to right: understory, low, mid, and high canopy layers</i></div>
        <div class="col-xs-12 col-md-10 col-lg-8">
            <img border="0" src="./static/images/canopyLayers.jpg" alt="canopyLayers" width="100%">
        </div>
    </div>

</div>
{% endblock %}