{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">

    <div class="row" id="landing-pg">
        <div class="col-xs-12 col-md-6 col-lg-6" align="left">
            Kathryn Rowe
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6" align="right">
            <a href="/">Home</a> • <a href="/aboutme">About</a> • <a href="/coding">Blog</a> • <a href="/resume">Resume</a> • <a href="/contact">Contact</a><!--  • <a href="/logout">Log-out</a> -->
        </div>
    </div>

    <div class="row" id="name">
        Available Spawning Habitat in the Charles River
    </div>

    <div class="row" id="photo-row">
        <div class="col-xs-12 col-md-6 col-lg-6">Spawning analysis was reserved for the Charles River downstream of the Metropolitan Circular Dam due to fish passageway barriers. The Watertown Dam has a fish ladder used by Alewife and Blueback Herring, but as of 2012, Massachusetts Department of Fish and Game (MA DFG) captured/observed only 1 American Shad using the ladder. MA DFG stock juvenile American Shad above the Watertown Dam but do not report sightings of adults or spawning activity.<br><br>
        
        <i>Tools:</i> ArcMap, Adobe Photoshop, Illustrator, Indesign</div>

        <div class="col-xs-12 col-md-6 col-lg-6">
            <img class="myImg" border="0" src="./static/images/lgBasin.jpg" alt="lgBasin" width="100%">
        </div>
    </div>

    <div class="row" id="photo-row">
        <div class="col-xs-12 col-md-6 col-lg-6">Charles River Watershed</div>
        
        <div class="col-xs-12 col-md-6 col-lg-6">
            <img class="myImg" border="0" src="./static/images/CRbasin.jpg" alt="CRbasin" width="100%">
        </div>
    </div>

</div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="./static/modal.js"></script>
{% endblock %}