{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">

    <div class="row" id="landing-pg">
        <div class="col-xs-12 col-md-6 col-lg-6" align="left">
            Kathryn Rowe
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6" align="right">
            <a href="/">Home</a> • <a href="resume">Resume</a> • <a href="contact">Contact</a>
        </div>
    </div>

    <div class="row" id="name">
        Applications of Thermal Infrared Imaging
    </div>

    <div class="row" id="photo-row">
        <div class="col-xs-12 col-md-6 col-lg-6">This map shows the total number and distribution of Spring Chinook (Oncorhynchus tshawytscha) and Steelhead (Oncorhynchus mykiss) observed during the Spring Chinook Dive in July 2009.<br>
        A thermal inferred flyover, performed on the same day as the dive, highlights the high water temperatures at or exceeding the salmonid thermal stress limit of 24°C.</div>
        <div class="col-xs-12 col-md-6 col-lg-6">
            <img class="myImg" border="0" src="./static/images/SRpopTemp.jpg" alt="SRpopTemp" width="75%">
        </div>
    </div>

    <div class="row" id="photo-row">
        <div class="col-xs-12 col-md-6 col-lg-6">North Fork Salmon River near the confluence of the Little North Fork.<br>
        originally printed at 8½ x 11"
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6">
            <img class="myImg" border="0" src="./static/images/NFbasemap.jpg" alt="NFbasemap" width="100%">
        </div>
    </div>

    <div class="row" id="photo-row">
        <div class="col-xs-12 col-md-6 col-lg-6">South Fork Salmon River near the confluence of Knownothing Creek<br>
        originally printed at 8½ x 11”
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6">
            <img class="myImg" border="0" src="./static/images/SFbasemap.jpg" alt="SFbasemap" width="100%">
        </div>
    </div>

    <div class="row" id="photo-row">
        <div class="col-xs-12 col-md-6 col-lg-6">North Fork Salmon River near the confluence of Picayune Gulch<br>
        originally printed at 8½ x 11”
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6">
            <img class="myImg" border="0" src="./static/images/NF2.jpg" alt="NF2" width="100%">
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="./static/modal.js"></script>
{% endblock %}