{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">

    <div class="row" id="landing-pg">
        <div class="col-xs-12 col-md-6 col-lg-6" align="left">
            Kathryn Rowe
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6" align="right">
            <a href="/">Home</a> • <a href="aboutme">About</a> • <a href="resume">Resume</a> • <a href="contact">Contact</a><!--  • <a href="/logout">Log-out</a> -->
        </div>
    </div>

    <div class="row" id="name">
        Volunteer Work
    </div>

    <div class="row" id="photo-row">
        <div class="col-xs-12 col-md-12 col-lg-12">Recently, I've volunteered for the California Native Plant Society and the Redwood Region 
        Audubon Society.<br>
        I was the EcoNews Editor for CNPS' newsletter submission, which included copy-editing and writing articles.<br>
        </div>
    </div>

    <div class="row" id="photo-row">
        <div class="col-xs-12 col-md-12 col-lg-12"><h3>Exploring the Calflora Database</h3><br>
        by Kate Rowe<br>
        <i>published in <a href="http://yournec.org/econews/febmar2016">EcoNews February 2016,</a> pg. 18</i><br>
        On February 10th, the CNPS North Coast chapter’s program will feature information about CNPS’ rare plant program. If you’re interested in learning more about California’s rare native plants, I suggest joining us in February and exploring information found on Calflora.org. An online database of California plants, Calflora can be a great resource for information about rare, native, and naturalized vascular plants (Figure 1).<br>
        To begin using Calflora, consider registering. This is a free service that allows you to contribute observations to the database. Not only will this help CNPS better understand plant distribution throughout the state, information entered about rare plants will greatly help CNPS’ rare plant program by providing information about population sizes and verifying whether or not a species is still found at a particular location.<br>
        If you’re looking just to find general details about a plant, Calflora’s searching capabilities are vast. Enter the name of the plant you’d like to learn more about (common, scientific, or just part of the name), and hit search. The search results show a distribution map, identification photographs, whether or not the plant is included in the CNPS Inventory of Rare and Endangered plants, and much more.<br>
        You can also search for “Monocot” in the lifeform “Tree” found in “Humboldt” county. Can you guess what species this is (guess: non-native)? How many “Gymnosperm” in the lifeform “Shrub” are found in “Humboldt”?<br>
        Calflora also searches by location, and returns a list of plants that grow in a particular area. After clicking on “What Grows Here?” on the Calflora homepage, you will be directed to the “What Grows Here?” tool. In Figure 2, I drew a polygon around my address and learned I should be able to find 142 plants around my home.<br>
        Advanced searching options are available through Calflora that allow you to customize your particular inquiry, and does not require a steep learning curve. I encourage you to explore this database, and we’ll see you February 10th!
        </div>
    </div>

    <!-- caption row -->
    <div class="row" id="text-row">
        <div class="col-xs-12 col-md-6 col-lg-6" align="center">
            <b>Figure 1:</b> Calflora.org homepage: search for plant information or enter an observation
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6" align="center">
            <b>Figure 2:</b> Searching for plants around Carlotta, CA
        </div> 
    </div>

    <!-- Image row -->
    <div class="row" id="projects-row">
        <div class="col-xs-12 col-md-6 col-lg-6">
            <img class="myImg" border="0" src="./static/images/calflora.jpg" alt="calflora" width="100%">
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6">
            <img class="myImg" border="0" src="./static/images/figure2.jpg" alt="figure2" width="100%"></a>
        </div>
    </div>

</div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="./static/modal.js"></script>
{% endblock %}